<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The CustomFont fixture downloads a font from a URL. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="BindJS Preview"
        android:supportsRtl="true"
        android:theme="@style/Theme.BindJSPreview">
        <activity
            android:name="ai.metabind.bindjs.preview.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
